@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

:root {
  --color-primary: #19647e;
  --color-primary--light: #119da4;
  --color-primary--dark: #09445d;
  --color-grey--light-1: #faf9f9;
  --color-grey--light-2: #f4f2f2;
  --color-grey--light-3: #dbdada;
  --color-grey--light-4: rgb(202, 201, 201);
  --color-grey--dark-1: #333;
  --color-grey--dark-2: #555;
  --color-grey--dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey--light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 35em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 23.75em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey--dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary--light), var(--color-primary--dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2.4rem; }

.list {
  list-style: none;
  margin: 2.4rem 0;
  padding: 2.4rem 0;
  border-top: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.8rem;
      background-image: url(../img/cheveron-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .list__item::before {
          background-image: none;
          background-color: var(--color-primary);
          -webkit-mask-image: url(../img/cheveron-right.svg);
          mask-image: url(../img/cheveron-right.svg);
          -webkit-mask-size: cover;
          mask-size: cover; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.2rem;
  font-family: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s; }
  .btn-inline span {
    margin-left: 4px;
    transition: 0.2s; }
  .btn-inline:hover {
    color: var(--color-primary--light);
    animation: pulsate 2s infinite; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none; }

.cta {
  padding: 3.2rem 0;
  text-align: center; }
  .cta__book-now {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.4rem; }

.btn {
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-grey--light-2);
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to bottom right, var(--color-primary--light), var(--color-primary--dark));
  position: relative;
  overflow: hidden; }
  .btn > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all 0.2s; }
  .btn:hover {
    background-image: linear-gradient(to top left, var(--color-primary--light), var(--color-primary--dark));
    box-shadow: var(--shadow-light);
    animation: pulsate 2s infinite; }
  .btn:focus {
    outline: none; }
  .btn__visible {
    padding: 1.2rem 6.4rem; }
  .btn:hover .btn__visible {
    transform: translatey(100%); }
  .btn__hidden {
    padding: 1.2rem;
    position: absolute;
    left: 0;
    top: -100%; }
  .btn:hover .btn__hidden {
    top: 0; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.header {
  min-height: 6rem;
  font-size: 1.4rem;
  background-color: var(--color-grey--light-1);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 45em) {
    .header {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 30em) {
    .header {
      flex-wrap: wrap; } }

.logo {
  height: 6rem;
  margin-left: 2.4rem; }
  @media only screen and (max-width: 45em) {
    .logo {
      margin-left: 1.2rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 30em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      padding: 1.2rem 2.4rem;
      max-width: 80%;
      margin: 0 auto; } }
  @media only screen and (max-width: 23.75em) {
    .search {
      padding: 0.8rem 1.6rem;
      max-width: 90%;
      margin: 0 auto; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey--light-3);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.4s;
    margin-right: -3.2rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey--light-2); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey--dark-2); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey--light-2); }
  .search__button {
    border: none;
    background-color: var(--color-grey--light-3); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey--light-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-grey--dark-1); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--color-primary--light);
    color: var(--color-grey--light-1);
    font-weight: 600;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    transform: translateY(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 1rem; }

.recommend {
  font-size: 1.2rem;
  color: var(--color-grey--dark-2);
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 45em) {
    .recommend {
      flex-direction: column;
      gap: 1.2rem; } }
  .recommend__count {
    margin-right: auto; }
    @media only screen and (max-width: 68.75em) {
      .recommend__count {
        margin-right: 1.2rem; } }
  .recommend__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border: 2px solid var(--color-grey--light-1);
    border-radius: 50%; }
    @media only screen and (max-width: 68.75em) {
      .recommend__photo {
        height: 4.4rem;
        width: 4.4rem; } }
    .recommend__photo:not(:first-child) {
      margin-left: -2.4rem; }

.review {
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-light);
  padding: 3.2rem;
  margin-bottom: 3.2rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 45em) {
    .review {
      padding: 1.6rem; } }
  .review__text {
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    padding-top: 1.6rem;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 45em) {
      .review__user {
        font-size: 1.2rem; } }
    .review__user-box {
      margin-right: auto; }
    .review__user-photo {
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 50%;
      margin-right: 1.2rem; }
      @media only screen and (max-width: 68.75em) {
        .review__user-photo {
          height: 4.4rem;
          width: 4.4rem; } }
    .review__user-name {
      text-transform: uppercase;
      font-weight: 600; }
    .review__user-date {
      font-size: 1.2rem;
      color: var(--color-grey--dark-3); }
      @media only screen and (max-width: 68.75em) {
        .review__user-date {
          font-size: 1rem; } }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 300; }
    @media only screen and (max-width: 68.75em) {
      .review__rating {
        font-size: 1.6rem;
        font-weight: 600; } }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.4rem;
    left: -2.4rem;
    font-size: 20rem;
    font-family: sans-serif;
    font-style: italic;
    color: var(--color-grey--light-3);
    line-height: 1;
    z-index: 1; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey--light-2);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column;
      gap: 3.2rem; } }

.hotel-view {
  background-color: var(--color-grey--light-1);
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 3.6rem;
  background-color: var(--color-grey--light-2);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 1.6rem; } }
  @media only screen and (max-width: 30em) {
    .detail {
      flex-direction: column; } }
  @media only screen and (max-width: 23.75em) {
    .detail {
      padding: 0.8rem; } }

.description {
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-light);
  padding: 3.2rem;
  flex: 0 0 60%;
  margin-right: 3.6rem; }
  @media only screen and (max-width: 45em) {
    .description {
      margin-right: 1.6rem;
      padding: 1.6rem; } }
  @media only screen and (max-width: 30em) {
    .description {
      margin-bottom: 4.4rem;
      margin-right: 0; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sidebar {
  background-color: var(--color-grey--dark-1);
  color: var(--color-grey--light-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      flex-direction: row;
      justify-content: space-between; } }

.side-nav {
  list-style: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      justify-content: space-between;
      margin: 0;
      flex: 1; } }
  @media only screen and (max-width: 45em) {
    .side-nav {
      font-size: 1.2rem;
      font-weight: 600; } }
  .side-nav__item {
    letter-spacing: 0.8px;
    padding: 1.8rem 2.4rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    cursor: pointer;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.8rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s, width 2s 1s, background-color 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleX(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary--light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey--light-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 0.8rem 1.6rem; } }
    @media only screen and (max-width: 45em) {
      .side-nav__link:link, .side-nav__link:visited {
        padding: 0.2rem 0.4rem; } }
    @media only screen and (max-width: 35em) {
      .side-nav__link:link, .side-nav__link:visited {
        padding: 0; } }
    @media only screen and (max-width: 30em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column; } }
  .side-nav__link:hover, .side-nav__link:active {
    color: currentColor; }
  .side-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.6rem;
    fill: currentColor; }
    @media only screen and (max-width: 45em) {
      .side-nav__icon {
        height: 1.6rem;
        width: 1.6rem;
        margin-right: 0.8rem; } }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey--light-4);
  text-align: center;
  padding: 2.4rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.6rem 3.2rem; }
    @media only screen and (max-width: 45em) {
      .overview__heading {
        font-size: 1.6rem;
        font-weight: 600; } }
    @media only screen and (max-width: 23.75em) {
      .overview__heading {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0.8rem 0.8rem 0.8rem 2.4rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-primary); }
    @media only screen and (max-width: 45em) {
      .overview__icon-star, .overview__icon-location {
        width: 0.8rem;
        height: 0.8rem; } }
  .overview__icon-location {
    margin-right: 0.8rem; }
  .overview__location {
    display: flex;
    padding: 0 2.4rem;
    align-items: center; }
    @media only screen and (max-width: 30em) {
      .overview__location {
        flex-direction: column-reverse;
        gap: 0.4rem;
        padding: 0 2.4rem; } }
  .overview__rating {
    background-color: var(--color-primary);
    color: var(--color-grey--light-1);
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch; }
    .overview__rating-average {
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: -4px; }
      @media only screen and (max-width: 45em) {
        .overview__rating-average {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: -1px; } }
    .overview__rating-count {
      font-size: 1rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 45em) {
        .overview__rating-count {
          font-weight: 400; } }
