:root {
  --color-primary: #19647e;
  --color-primary--light: #119da4;
  --color-primary--dark: #09445d;
  --color-grey--light-1: #faf9f9;
  --color-grey--light-2: #f4f2f2;
  --color-grey--light-3: #f0eeee;
  --color-grey--light-4: #ccc;
  --color-grey--dark-1: #333;
  --color-grey--dark-2: #555;
  --color-grey--dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid var(--color-grey--light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey--dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary--light), var(--color-primary--dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey--light-2);
  box-shadow: var(--shadow-dark); }

.header {
  height: 6rem;
  font-size: 1.4rem;
  background-color: var(--color-grey--light-1);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey--dark-1);
  color: var(--color-grey--light-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: var(--color-grey--light-1);
  flex: 1; }

.detail {
  display: flex;
  padding: 3.6rem;
  background-color: var(--color-grey--light-2);
  border-bottom: var(--line); }

.description {
  font-size: 1.4rem;
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-light);
  padding: 3.2rem;
  flex: 0 0 60%;
  margin-right: 3.6rem; }

.user-reviews {
  background-color: lightcyan;
  flex: 1; }

.logo {
  height: 6rem;
  margin-left: 2.4rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey--light-3);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.4s;
    margin-right: -3.2rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey--light-2); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey--dark-2); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey--light-2); }
  .search__button {
    border: none;
    background-color: var(--color-grey--light-3); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey--light-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-grey--dark-1); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--color-primary--light);
    color: var(--color-grey--light-1);
    font-weight: 600;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    transform: translateY(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  list-style: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem; }
  .side-nav__item {
    letter-spacing: 0.8px;
    padding: 1.8rem 2.4rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    cursor: pointer; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.8rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s, width 2s 1s, background-color 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleX(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary--light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey--light-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
  .side-nav__link:hover, .side-nav__link:active {
    color: currentColor; }
  .side-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.6rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey--light-4);
  text-align: center;
  padding: 2.4rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.6rem 3.2rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-primary); }
  .overview__icon-location {
    margin-right: 0.8rem; }
  .overview__location {
    display: flex;
    padding: 0 2.4rem;
    align-items: center; }
  .overview__rating {
    background-color: var(--color-primary);
    color: var(--color-grey--light-1);
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch; }
    .overview__rating-average {
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: -4px; }
    .overview__rating-count {
      font-size: 1rem;
      text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-family: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s; }
  .btn-inline:hover {
    color: var(--color-grey--dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.02);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2.4rem; }

.list {
  list-style: none;
  margin: 2.4rem 0;
  padding: 2.4rem 0;
  border-top: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.8rem;
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/cheveron-right.svg);
      mask-image: url(../img/cheveron-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover; }

.recommend {
  font-size: 1.2rem;
  color: var(--color-grey--dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border: 2px solid var(--color-grey--light-1);
    border-radius: 50%; }
    .recommend__photo:not(:first-child) {
      margin-left: -1.6rem; }
