:root {
  --color-primary: #19647e;
  --color-primary--light: #119da4;
  --color-primary--dark: #09445d;

  --color-grey--light-1: #faf9f9;
  --color-grey--light-2: #f4f2f2;
  --color-grey--light-3: #dbdada;
  --color-grey--light-4: rgb(202, 201, 201);

  --color-grey--dark-1: #333;
  --color-grey--dark-2: #555;
  --color-grey--dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey--light-2);
}
