////////////////////
// LOGO

.logo {
  height: 6rem;
  margin-left: 2.4rem;
  fill: var(--color-primary);
}

////////////////////
// SEARCH

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey--light-3);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.4s;
    margin-right: -3.2rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey--light-2);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey--dark-2);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey--light-2);
  }

  &__button {
    border: none;
    background-color: var(--color-grey--light-3);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
  }
}

////////////////////
// USER NAVIGATION
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey--light-3);
    }
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-grey--dark-1);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;

    background-color: var(--color-primary--light);
    color: var(--color-grey--light-1);
    font-weight: 600;

    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    transform: translateY(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
