////////////////////
// LOGO

.logo {
  height: 6rem;
  margin-left: 2.4rem;
}

////////////////////
// SEARCH

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey--light-3);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.4s;
    margin-right: -3.2rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey--light-2);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey--dark-2);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey--light-2);
  }

  &__button {
    border: none;
    background-color: var(--color-grey--light-3);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
  }
}

////////////////////
// USER NAVIGATION
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey--light-3);
    }
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-grey--dark-1);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;

    background-color: var(--color-primary--light);
    color: var(--color-grey--light-1);
    font-weight: 600;

    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    transform: translateY(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

////////////////////
// SIDE NAVIGATION

.side-nav {
  list-style: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem;

  &__item {
    letter-spacing: 0.8px;
    padding: 1.8rem 2.4rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s, width 2s 1s, background-color 0.2s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleX(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary--light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey--light-1);
    text-decoration: none;

    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &__link:hover,
  &__link:active {
    color: currentColor;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.6rem;
    fill: currentColor;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey--light-4);
  text-align: center;
  padding: 2.4rem;
}

////////////////////
// SIDE NAVIGATION

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

////////////////////
// HOTEL OVERVIEW

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: var(--line);

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.6rem 3.2rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-primary);
  }

  &__icon-location {
    margin-right: 0.8rem;
  }

  &__location {
    display: flex;
    padding: 0 2.4rem;
    align-items: center;
  }

  &__rating {
    background-color: var(--color-primary);
    color: var(--color-grey--light-1);
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    &-average {
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: -4px;
    }

    &-count {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}

////////////////////
// BUTTON INLINE

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-family: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    color: var(--color-grey--dark-1);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.02);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

////////////////////
// PARAGRAPH

.paragraph:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

////////////////////
// LIST
.list {
  list-style: none;
  margin: 2.4rem 0;
  padding: 2.4rem 0;
  border-top: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.8rem;

      // // Older browsers
      // background-image: url(../img/cheveron-right.svg);
      // background-size: cover;

      //Newer browsers - mask-size:
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/cheveron-right.svg);
      mask-image: url(../img/cheveron-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}

////////////////////
// RECOMMEND
.recommend {
  font-size: 1.2rem;
  color: var(--color-grey--dark-3);

  display: flex;
  align-items: center;
  &__count {
    margin-right: auto;
  }

  &__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border: 2px solid var(--color-grey--light-1);
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: -1.6rem;
    }
  }
}
