.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey--light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 6rem;
  font-size: 1.4rem;
  background-color: var(--color-grey--light-1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey--dark-1);
  color: var(--color-grey--light-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-grey--light-1);
  flex: 1;
}

.detail {
  display: flex;
  padding: 3.6rem;
  background-color: var(--color-grey--light-2);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-light);
  padding: 3.2rem;
  flex: 0 0 60%;
  margin-right: 3.6rem;
}

.user-reviews {
  background-color: lightcyan;
  flex: 1;
}
