.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey--light-2);
  box-shadow: var(--shadow-dark);

  height: 50rem;
}

.header {
  height: 6rem;
  background-color: var(--color-grey--light-1);
  border-bottom: var(--color-grey--light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey--dark-1);
  color: var(--color-grey--light-1);
  flex: 0 0 16%;
}

.hotel-view {
  background-color: var(--color-grey--light-1);
  flex: 1;
}
