////////////////////
// BUTTON INLINE

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.2rem;
  font-family: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;

  & span {
    margin-left: 4px;
    transition: 0.2s;
  }

  &:hover {
    color: var(--color-primary--light);
    animation: pulsate 2s infinite;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
  }
}
