////////////////////
// CALL TO ACTION

.cta {
  padding: 3.2rem 0;
  text-align: center;

  &__book-now {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }
}

.btn {
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-grey--light-2);
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary--light),
    var(--color-primary--dark)
  );

  position: relative;
  overflow: hidden;

  & > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(
      to top left,
      var(--color-primary--light),
      var(--color-primary--dark)
    );
    box-shadow: var(--shadow-light);
    animation: pulsate 2s infinite;
  }

  &:focus {
    outline: none;
  }

  &__visible {
    padding: 1.2rem 6.4rem;
  }

  &:hover &__visible {
    transform: translatey(100%);
  }

  &__hidden {
    padding: 1.2rem;
    position: absolute;
    left: 0;
    top: -100%;
  }

  &:hover &__hidden {
    top: 0;
  }
}
