////////////////////
// RECOMMEND
.recommend {
  font-size: 1.2rem;
  color: var(--color-grey--dark-2);

  display: flex;
  align-items: center;
  &__count {
    margin-right: auto;
  }

  &__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border: 2px solid var(--color-grey--light-1);
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: -1.6rem;
    }
  }
}
