////////////////////
// RECOMMEND
.recommend {
  font-size: 1.2rem;
  color: var(--color-grey--dark-2);

  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-small-tablets) {
    flex-direction: column;
    gap: 1.2rem;
  }

  &__count {
    margin-right: auto;

    @media only screen and (max-width: $bp-small-desktop) {
      margin-right: 1.2rem;
    }
  }

  &__photo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    border: 2px solid var(--color-grey--light-1);
    border-radius: 50%;

    @media only screen and (max-width: $bp-small-desktop) {
      height: 4.4rem;
      width: 4.4rem;
    }

    &:not(:first-child) {
      margin-left: -2.4rem;
    }
  }
}
