////////////////////
// REVIEW
.review {
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-light);
  padding: 3.2rem;
  margin-bottom: 3.2rem;
  position: relative;
  overflow: hidden;

  &__text {
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    padding-top: 1.6rem;
    justify-content: center;
    align-items: center;

    &-box {
      margin-right: auto;
    }
    &-photo {
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 50%;
      margin-right: 1.2rem;
    }

    &-name {
      text-transform: uppercase;
      font-weight: 600;
    }

    &-date {
      font-size: 1.2rem;
      color: var(--color-grey--dark-3);
    }
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.4rem;
    left: -2.4rem;
    font-size: 20rem;
    font-family: sans-serif;
    font-style: italic;
    color: var(--color-grey--light-3);
    line-height: 1;
    z-index: 1;
  }
}
