* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey--dark-2);
  background-image: linear-gradient(
    (to right bottom, var(--color-primary--light), var(--color-primary--dark))
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

////////////////////
// PARAGRAPH

.paragraph:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

////////////////////
// LIST
.list {
  list-style: none;
  margin: 2.4rem 0;
  padding: 2.4rem 0;
  border-top: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.8rem;

      // // Older browsers
      // background-image: url(../img/cheveron-right.svg);
      // background-size: cover;

      //Newer browsers - mask-size:
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/cheveron-right.svg);
      mask-image: url(../img/cheveron-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}
