.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey--light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-desktop) {
    margin: 0;
    max-width: 100%;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-tablets) {
    flex-direction: column;
    gap: 3.2rem;
  }
}

.hotel-view {
  background-color: var(--color-grey--light-1);
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 3.6rem;
  background-color: var(--color-grey--light-2);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-tablets) {
    padding: 1.6rem;
  }

  @media only screen and (max-width: $bp-big-phones) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-small-phones) {
    padding: 0.8rem;
  }
}

.description {
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-light);
  padding: 3.2rem;
  flex: 0 0 60%;
  margin-right: 3.6rem;

  @media only screen and (max-width: $bp-small-tablets) {
    margin-right: 1.6rem;
    padding: 1.6rem;
  }

  @media only screen and (max-width: $bp-big-phones) {
    margin-bottom: 4.4rem;
    margin-right: 0;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
