.sidebar {
  background-color: var(--color-grey--dark-1);
  color: var(--color-grey--light-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

////////////////////
// SIDE NAVIGATION

.side-nav {
  list-style: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem;

  &__item {
    letter-spacing: 0.8px;
    padding: 1.8rem 2.4rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s, width 2s 1s, background-color 0.2s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleX(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary--light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey--light-1);
    text-decoration: none;

    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &__link:hover,
  &__link:active {
    color: currentColor;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.6rem;
    fill: currentColor;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey--light-4);
  text-align: center;
  padding: 2.4rem;
}
