.sidebar {
  background-color: var(--color-grey--dark-1);
  color: var(--color-grey--light-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-tablets) {
    flex-direction: row;
    justify-content: space-between;
  }
}

////////////////////
// SIDE NAVIGATION

.side-nav {
  list-style: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.2rem;

  @media only screen and (max-width: $bp-tablets) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex: 1;
  }

  @media only screen and (max-width: $bp-small-tablets) {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__item {
    letter-spacing: 0.8px;
    padding: 1.8rem 2.4rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    cursor: pointer;
    align-self: center;

    @media only screen and (max-width: $bp-tablets) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;

      @media only screen and (max-width: $bp-tablets) {
        margin: 0;
      }
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s, width 2s 1s, background-color 0.2s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleX(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary--light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey--light-1);
    text-decoration: none;

    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    @media only screen and (max-width: $bp-tablets) {
      justify-content: center;
      padding: 0.8rem 1.6rem;
    }

    @media only screen and (max-width: $bp-small-tablets) {
      padding: 0.2rem 0.4rem;
    }

    @media only screen and (max-width: $bp-tablets-vertical) {
      padding: 0;
    }

    @media only screen and (max-width: $bp-big-phones) {
      flex-direction: column;
    }
  }

  &__link:hover,
  &__link:active {
    color: currentColor;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1.6rem;
    fill: currentColor;

    @media only screen and (max-width: $bp-small-tablets) {
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 0.8rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey--light-4);
  text-align: center;
  padding: 2.4rem;

  @media only screen and (max-width: $bp-tablets) {
    display: none;
  }
}
